.sa{
    color: grey;
    display: flex;
    flex-direction: column;
    padding: 40px;
    padding-bottom: 0px;
}
.sa:hover{
    color: darkgray;
}

.ap{
    color: skyblue;
    margin-bottom: 0px;
    
}
.ap:hover{
    text-underline-position: below;
    color: blue;
}